.map-page{
    height: 100%;
    display: flex;
}

.map-page__container{
    height: 100%;
    width: 100%;
    flex-shrink: 1;
}

.map-page__toolbar{
    height: 100%;
    width: 150px;
    flex-shrink: 0;
    background-color: aliceblue;
}

.vis-network{
    height: 100%;
}